.place__title {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	font-weight: 900;
	display: flex;
	align-items: flex-end;
	font-size: 72px;
	line-height: 76px;
	grid-area: title;
}
@media only screen and (max-width: 600px) {
.place__title{
	margin-left: 16px;
	margin-right: 16px;
}
}
@media only screen and (max-width: 400px) {
.place__title{
	font-size: 32px;
	line-height: 35px;
}
}