.page {
	background: #2a2c2f;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	font-family: 'inter', sans-serif;
}

@font-face {
	font-family: inter-black;
	src: url(../../text/Inter-Black.woff2);
}
@font-face {
	font-family: inter-bold;
	src: url(../../text/Inter-Bold.woff2);
}

@font-face {
	font-family: inter;
	src: url(../../text/Inter-Regular.woff2);
}


