.cover__background {
	max-width: 100vw;
	
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	z-index: 1;
}

.cover__background:hover {
opacity: .5;
	

/* .overlay { */
/* width: 210px; */
/* height: 210px; */
/* padding: 20px; */
/* background: none; */
