.cover__background {
	background-image: url("../../../sprint-3-images-en/cover-route-66.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 1184px;
	height: 740px;
}
