.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/cover-route-66.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 740px;
}

@media screen and (max-width: 1024px) {
.cover {
    min-height: 640px;
}
}

@media screen and (max-width: 768px) {
.cover {
    min-height: 480px;
}
}

@media screen and (max-width: 665px) {
.cover {
    min-height: 415px;
}
}

@media screen and (max-width: 320px) {
.cover {
    min-height: 200px;
}
}