.place {
	display: grid;
	max-width: 984px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 0.25fr 1fr;
	gap: 48px 40px;
	padding-bottom: 80px;
	grid-template-areas: "title website" "image paragraph";
	margin: 0 auto;
}
