.wrapper {
	display: flex;
	justify-content: space-between;
}

.lang-link {
	font-size: 24px;
	line-height: 28px;
	text-align: right;
	color: #ffffff;
	text-decoration: none;
}
.lang-link--active{
	text-decoration-line: underline;
}
.lang-link:nth-child(1) {
	padding-right: 18px;
}
