.cover__overlay {
	content: '';
	position: absolute;

	width: calc(100% - 96px);
	height: 740px;
	transition: linear 0.4s;
}
.cover__overlay:hover {
	/* opacity: 1; */
	background: rgba(0, 0, 0, .6);
}
