.cover__overlay {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	min-height: 740px;
	transition: linear 0.4s;
	margin: 0 auto;
}
.cover__overlay:hover {
	background: rgba(0, 0, 0, .6);
}
