.footer {
	max-height: 18px;
	width: calc(100% - 48px*2);
	max-width: 1184px;
	margin: 92px auto 24px;
	display: flex;
	justify-content: space-between;
}
@media only screen and (max-width: 350px) {
.footer{
	max-height: 168px;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 64px;
	margin-left: 16px;
	margin-bottom: 24px;
	
}
}