.cover__title {
	position: relative;
	color: #FFFDFD;
	top: 0;
	left: 0;
	max-height: 76px;
	font-family: 'inter-black', sans-serif;
	font-size: 72px;
	line-height: 76px;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-bottom: 32px;
	text-decoration: none;
}
@media only screen and (max-width: 600px) {
.cover__title{
	font-size: 32px;
	line-height: 35px;
}