.places {
	/* display: flex; */
	/* flex-wrap: wrap; */
}

.place {
	display: grid;
	max-width: 984px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 0.25fr 1fr;
	gap: 48px 40px;
	padding-bottom: 80px;
	grid-template-areas: "title website" "image paragraph";
	margin: 0 auto;
}

.place__paragraph {
	font-family: 'Inter-Light', sans-serif;
	text-align: left;
	font-size: 18px;
	line-height: 29.34px;
	grid-area: paragraph;
	/*background-color: aqua;*/
	/*grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 2;
    grid-row-end: span 3;*/
}
.place__website {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-content: flex-end;
	margin: 0;
	margin-top: 122px;
}
.place__website--url-heading {
	font-family: 'Inter-Light', sans-serif;
	font-size: 14px;
	line-height: 20.4px;
	grid-area: website;
	color: #aaa;

	/* grid-column-start: 2; */
	/* grid-column-end: span 3; */
	/* grid-row-start: 1; */
	/* grid-row-end: span 2;*/
}
.place__website--url-link {
	font-family: 'Inter-Light', sans-serif;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}

.place__image {
	max-width: 100%;
	grid-area: image;

	/* grid-column-start: 1; */
	/* grid-column-end: span 2; */
	/* grid-row-start: 2; */
	/* grid-row-end: span 3; */
}
.place__title {
	margin: 0;
	margin-top: 92px;
	padding: 0;
	font-family: 'Inter-extrabold', sans-serif;
	display: flex;
	align-items: flex-end;
	font-size: 72px;
	line-height: 76px;
	grid-area: title;
}
