.lead__subtitle {
	font-weight: 400;
	text-align: center;
	font-size: 30px;
	line-height: 36px;
	margin: 0 auto 64px auto;
	padding: 0;
	max-width: 620px;
}
@media only screen and (max-width: 1024px) {
	.lead__subtitle {
		margin-bottom: 56px;
	}
}

@media only screen and (max-width: 465px) {
	.lead__subtitle {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 40px;
		max-width: 288px;
	}
}
