.cover__title {
	position: relative;
	color: #fffdfd;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	text-align: center;
	margin: 0;
	padding-top: 25%;
	padding-bottom: 32px;
	text-decoration: none;
}
@media only screen and (max-width: 600px) {
	.cover__title {
		font-size: 32px;
		line-height: 35px;
	}
}

