.footer {
	margin: 92px 0 24px 0;
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
}

@media only screen and (max-width: 350px) {
	.footer {
		margin-top: 64px;
		flex-direction: column;
		align-items: flex-start;
	}
}
