.footer {
	max-width: 92%;
	margin: 92px 0 24px 0;
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
}
@media only screen and (max-width: 1024px) {
	.footer {
		max-width: 90%;
	}
}
@media only screen and (max-width: 768px) {
	.footer {
		max-width: 93%;
	}
}
@media only screen and (max-width: 350px) {
	.footer {
		max-width: 51%;
		margin-top: 64px;
		flex-direction: column;
		align-items: flex-start;
	}
}
