.footer__copyright {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	flex-direction: row;
	
	margin-bottom: 24px;
}
@media only screen and (max-width: 350px) {
.footer__links{
	margin-top: 48px;
	line-height: 14px;
}
