.place__website {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: flex-end;
	margin: 0;
	padding: 0;
	grid-area: website;
}

@media only screen and (max-width: 600px) {
	.place__website {
		justify-content: left;
		align-content: center;
		margin-bottom: 30px;
		margin-left: 16px;
		margin-right: 16px;
	}
}

@media only screen and (max-width: 400px) {
	.place__website {
		margin-left: 15px;
		margin-right: 17px;
	}
}
