.place__website {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-content: flex-end;
	margin: 0;
	grid-auto-flow: column;
}

@media only screen and (max-width: 600px) {
.place__website{
	justify-content: left;
	align-content: center;
}
}
