.intro__title {
	font-size: 54px;
	font-weight: 900;
	line-height: 58px;
	text-align: left;
}
@media only screen and (max-width: 800px) {
.intro__title {
	margin-top:88px;
}
}
@media only screen and (max-width: 400px) {
.intro__title {
	margin-top:64px;
}
}